@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;/* 
     font-family: 'Open Sans', sans-serif; */
}
:root {
    --primary-color: #2E2C38;
    --icon-color: #5F6476;
    --icon-hover: #fff;
}
/* body {
    background-color: #2E2C38;
} */
body{
    background: var(--primary-color);
}
.main-container{
    display: flex;
    background-color: var(--primary-color);
    bottom: 0;
    top: 0;
}
.navlogo{
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.navlogo img {
    margin-left: 20px;
    margin-top: 40px;
    width: 40px;
    z-index: 2;
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5%;
}
.nav-contents{
    position: fixed; 
    align-items: center;
    justify-content: center;
    width: 76px;
    background-color: var(--primary-color);
    z-index: 0;
}
.nav-container{
    align-items: center;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
}
.navlinks:not(:last-child){
    margin-bottom: 38px;
    list-style: none;
}
.navlinks:last-child{
    margin-bottom: 53px;
    list-style: none;
}
.links .icon:hover{
    color: var(--icon-hover);
}
.links span{
    width: 30px;
    height: 3px;
    color: var(--icon-color);
    margin: 5px auto;
}
.icon{
    color: var(--icon-color);
    font-size: 1.5em;
}
.main-side{
    top: 0;
    width: 95%;
    display:flex;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}
.fixed-pup{
    position: fixed;
    width: 66.5%;
    background-color: var(--primary-color);
    z-index: 5;
}
.stories{
    width:100%;
    border-radius: 60px 0px 0px 0px;
    background-color: #fff;
    background-size: 100%;
    display: flex;/* 
    align-items: center; */
    justify-content: flex-start;
    width: 100%;
   height: 150px;
   border-bottom: 1px solid rgba(196, 196, 196, 0.781);/* 
   background-color: #ffffff; */
}
.story-cont{
    display: flex;/* */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    width: 50px;
}
.story-cont img{
    width:100%;
    border-radius: 30px;
    border: 2px double rgb(28, 121, 228);
}

.story-cont a{
    text-decoration: none;
    color: black;
    margin-top: 15px;
}
.main-contents{
    background-color: #fff;
    transform: translateY(150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.time{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    padding: 0 50px;
    height: 30px;
    align-items: center;
}
.time-cont{
    display: flex;
    align-items: center;
    list-style: none;/* 
    margin-left: 190px; */
}
.time-item{
    height:50px;
}
.t-link{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    text-decoration: none;
    height: 100%;
}
.t-link:hover{
    color:rgb(28, 121, 228)
}
/* .t-link{
    margin: 40px;
} */
.contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6%;
    align-items: center;
    justify-content: center;
}
.cont-cont{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.cont-img img{
    width: 100%;
    animation-name: move;
    animation-duration: 3s;
}
.cont-desc{
    width: 100%;
    display: flex;
    flex-basis: 10%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.cont-post{
    display: flex;
    align-items: center;
    justify-content: center;
}
.react{
    display: flex;
    margin-left: 15%;
    align-items: center;
}
.react-cont{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.react-cont a{
    text-decoration: none;
}
.react-cont a i{
    font-size: 1.7em;
}
.react-cont .bxs-heart{
    color: red;
}
.side{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    top: 0;
}
.side-view{

    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 28%;
    height: 100%;
    border-radius: 60px 0px 0px 0px;
    background-color: #edf1f8;
    z-index: 6;
    position:fixed;
}
.topside{
    top: 0;
    display: flex;
    margin-top: 50px;
    width:100%;
    align-items: center;
}
.input-search{
    display: flex;
    margin-left: 20px;
    width: 250px;
    background-color: var(--icon-hover);
    height: 40px;
    align-items: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #d0d2d6;
    border-radius: 20px;
}
.input-search input{
    margin-left: 20px;
    width: 170px;
    outline: none;
    border:none;
} 
.bx-search{
    transform: translateX(10px);
}
.bell{
    display: flex;
    margin-left: 30px;
    width: 40px;
    align-items: center;
    height: 40px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #bcbfc2;
    align-items: center;
    justify-content: center;
}
.bell:last-child{
    background-color: #2E4B9C;
}
.bx-log-out{
    color: var(--icon-hover);
    transform: translateY(-2px) rotate(90deg);
}
.navlinks a[title="Home"]{
    color: rgb(87, 58, 58);
}
.follow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.p-follow{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.p-left{
    position: absolute;
    left: 0;
    margin-left: 7%;
}
.p-right{
    position: absolute;
    right: 0;
    margin-right: 7%;
}
.p-right a{
    text-decoration: none;
}

@keyframes move {
    0%   {opacity: 0%;}
    25%  {opacity: 25%;}
    50%  {opacity: 50%;}
    75%  {opacity: 75%;}
    100% {opacity: 100%;}
}
#img-{
    width: 30px;
}
.follow-cont{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.follow-line{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img{
    display: flex;
    justify-content: center;
}
/* .img-f{
    margin-right: 20%;
} */
.img-des{
    padding:  0 40px;
    font-size:.9em;
}
.img-des p:last-child{
    margin-top: -10px;
    color:rgba(0, 0, 0, 0.596)
}
.follow-btn{
    align-items: center;
    justify-content: center;
}
.follow-btn a{
    padding: 2px 16px;
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    background-color: #2E4B9C;
}
.follow-btn .followed {
    color: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #fff;
    padding: 2px 8px;
}
.saved{
    display: flex;
    flex-direction: column;
}
.savetop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.savetop a{
    text-decoration: none;
}
.savedcont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}
.contcont{
    width: 140px;
    height: 110px;
}
.contcont img{
    width: 100%;
    height: 100%;
}
.activity{
    display: flex;
    flex-direction: column;
}
.l-activity{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.l-activity a{
    text-decoration: none;
}
.acts{
    display: flex;
}