@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;/* 
     font-family: 'Open Sans', sans-serif; */
}
:root {
    --primary-color: #2E2C38;
    --blue-color: #2E4B9C;
    --black-color: #000;
    --dim-black-color:#5F6476;
    ;
    --icon-color: #5F6476;
    --icon-hover: #fff;
    --ligth-color: #fff;
    --dim-light: #edf1f8;
}
.dark-theme{
    --primary-color: #2c2c2c;
    --blue-color: #2E4B9C;
    --black-color: #fff;
    --dim-black-color:#edf1f8;
    --ligth-color: #000;
    --dim-light: #131313;
}
body {
    background-color: var(--ligth-color);
} 
body{
    background: var(--primary-color);
}
.main-container{
    display: flex;
    background-color: var(--primary-color);
    top: 0;
}
.navlogo{
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.navlogo img {
    margin-left: 20px;
    margin-top: 40px;
    width: 40px;
    z-index: 2;
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5%;
}
.nav-contents{
    position: fixed; 
    align-items: center;
    justify-content: center;
    width: 76px;
    background-color: var(--primary-color);
    z-index: 0;
}
.nav-container{
    align-items: center;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
}
.navlinks:not(:last-child){
    margin-bottom: 38px;
    list-style: none;
}
.navlinks:last-child{
    margin-bottom: 53px;
    list-style: none;
}
.links .icon:hover{
    color: var(--icon-hover);
}
.links span{
    width: 30px;
    height: 3px;
    color: var(--icon-color);
    margin: 5px auto;
}
.icon{
    color: var(--icon-color);
    font-size: 1.5em;
    transition: 0.3s;
}
.main-side{
    top: 0;
    width: 95%;
    display:flex;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}
.fixed-pup{
    position: fixed;
    width: 66.5%;
    background-color: var(--primary-color);
    z-index: 5;
}
.stories{
    width:100%;
    border-radius: 60px 0px 0px 0px;
    background-color: var(--ligth-color);
    background-size: 100%;
    display: flex;/* 
    align-items: center; */
    justify-content: flex-start;
    width: 100%;
   height: 150px;
   border-bottom: 1px solid rgba(196, 196, 196, 0.781);/* 
   background-color: var(--light)fff; */
}
.story-cont{
    display: flex;/* */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    width: 50px;
}
.story-cont img{
    width:100%;
    border-radius: 30px;
    border: 2px double var(--blue-color);
}

.story-cont a{
    text-decoration: none;
    color: var(--black-color);
    margin-top: 15px;
}
.main-contents{
    background-color: var(--ligth-color);
    height: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.time{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    padding: 0 50px;
    height: 30px;
    align-items: center;
}
.time-cont{
    display: flex;
    align-items: center;
    list-style: none;/* 
    margin-left: 190px; */
}
.time-item{
    height:50px;
}
.t-link{
    color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    text-decoration: none;
    height: 100%;
}
.t-link:hover{
    color:var(--blue-color);
}
/* .t-link{
    margin: 40px;
} */
.contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6%;
    align-items: center;
    justify-content: center;
}
.cont-cont{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.cont-img img{
    max-width: 300px;
    animation-name: move;
    animation-duration: 3s;
}
.cont-desc{
    width: 100%;
    display: flex;
    flex-basis: 10%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.cont-post{
    display: flex;
    align-items: center;
    justify-content: center;
}
.react{
    display: flex;
    margin-left: 15%;
    align-items: center;
}
.react-cont{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.react-cont a{
    text-decoration: none;
}
.react-cont a i{
    font-size: 1.7em;
}
.react-cont .bxs-heart{
    color: red;
}
#react-spa{
    color: var(--black-color);
}
.side{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: var(--ligth-color);
    align-items: center;
    justify-content: center;
    top: 0;
}
.side-view{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 28%;
    height: 100%;
    border-radius: 60px 0px 0px 0px;
    background-color: var(--dim-light);
    z-index: 6;
    position:fixed;
    justify-content: space-between;
}
.topside{
    top: 0;
    display: flex;
    margin-top: 50px;
    width:100%;
    align-items: center;
}
.input-search{
    display: flex;
    margin-left: 20px;
    width: 250px;
    background-color: var(--ligth-color);
    height: 40px;
    align-items: center;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
}
.input-search input{
    margin-left: 20px;
    width: 170px;
    outline: none;
    border:none;
    background: transparent;
} 
.bx-search{
    transform: translateX(10px);
}
.bell{
    display: flex;
    margin-left: 30px;
    width: 40px;
    align-items: center;
    height: 40px;
    border-radius: 30px;
    background-color: var(--ligth-color);
    align-items: center;
    justify-content: center;
}
.bx-bell{
    color: var(--black-color);
}
.bell:last-child{
    background-color: var(--blue-color);
}
.bx-log-out{
    color: var(--icon-hover);
    transform: translateY(-2px) rotate(90deg);
}

.follow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.p-follow{
    display: flex;
    margin-top: 20px;
    align-items: center;
    color: var(--black-color)
}

.p-left{
    position: absolute;
    left: 0;
    margin-left: 7%;
}
.p-right{
    position: absolute;
    right: 0;
    margin-right: 7%;
}
.p-right a{
    text-decoration: none;
}

@keyframes move {
    0%   {opacity: 0%;}
    25%  {opacity: 25%;}
    50%  {opacity: 50%;}
    75%  {opacity: 75%;}
    100% {opacity: 100%;}
}
#img-{
    width: 30px;
}
.follow-cont{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black-color);
}
.follow-line{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.img{
    display: flex;
    justify-content: center;
}
/* .img-f{
    margin-right: 20%;
} */
.img-des{
    padding:  0 40px;
    font-size:.9em;
}
.img-des a:last-child{
    text-decoration: none;
    color:var(--dim-black);
}
.follow-btn{
    align-items: center;
    justify-content: center;
}
.follow-btn a{
    padding: 2px 16px;
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    background-color: var(--blue-color);
}
.follow-btn .followed {
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #fff;
    padding: 2px 8px;
}
.saved{
    display: flex;
    flex-direction: column;
    color: var(--black-color);
}
.savetop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.savetop a{
    text-decoration: none;
}
.savedcont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}
.contcont{
    width: 140px;
    height: 110px;
}
.contcont img{
    width: 100%;
    height: 100%;
}
.activity{
    display: flex;
    flex-direction: column;
    color: var(--black-color);
}
.l-activity{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.l-activity a{
    text-decoration: none;
}
.acts{
    display: flex;
}

#postname{
    color: var(--black-color);
    text-decoration: none;
}
.settings{
    position: fixed;
    bottom: 5%;
    left: 5%;
    width: 300px;
    height: 150px;
    z-index: 12;
    display: none;
    border-radius: 14px 14px 14px 0px;
    background-color: var(--icon-hover);
    border:  1px solid var(--icon-color);
}
.set-active{
    position: fixed;
    bottom: 5%;
    left: 5%;
    width: 300px;
    height: 150px;
    z-index: 12;
    display: flex;
    border-radius: 14px 14px 14px 0px;
    background-color: var(--icon-hover);
    border:  1px solid var(--icon-color);
}
.set-cont{
    display: flex;
    flex-direction: column;
    padding: 15px 12px;
    width: 100%;
}
.set-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.win-act{
    display: flex;
    align-items: center;
}
.win-act .bx{
    margin-left: 10px;
    cursor: pointer;
    transform: translateY(-10px)
}
.win-act .bx-x{
    font-size: 1.4em;
}
.set-view{
    display: flex;
    flex-direction: column;
}
.set-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.set-line img{
    font-size: 2em;
    transform: translateY(-10px);
    cursor: pointer;
}
.message{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    z-index: 11;
    width: 95%;
    background-color: var(--ligth-color);
    border-radius: 59px 0px 0px 0px ;
    align-items: flex-start;
    justify-content: flex-start;
}
.simple-m{
    border-radius: 59px 0px 0px 0px ;
    width: 350px;
    background-color: var(--ligth-color);
    display: flex;
    flex-direction: column;
}
.simple-view{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.chat-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.chat-title p{
    font-size: 2em;
    transform: translateY(5px);
    color: var(--black-color);
}
.chat-icons{
    font-size:1.2em;
    display: flex;
    align-items: center;
    transform: translateX(-20%);
}
.icon{
    cursor: pointer;
}
.chat-icons i{
    color: var(--black-color);
}
.chat-icons a{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(146, 146, 146);
    transition: all 0.3s ease;
}
.chat-icons a:hover{
    background-color: rgb(192, 192, 192);
}
.search-mess{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
    width: 250px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: var(--dim-light);
    margin-bottom:20px;
}
.search-mess input{
    margin-left: 10px;
    width: 200px;
    border: none;
    color: var(--black-color);
    outline: none;
    background: transparent;
}
.mess-cont{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.mess-scroll{
    overflow-y: scroll;
    overflow-x: hidden;
}
.mess-cont a, .mess-cont a:hover{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black-color);
}
.conts-mes p:last-child{
    color: var(--dim-black);
    font-size: 0.8em
}
.img-mes {
    margin-top: 10px;
    width: 50px;
    border-radius: 30px;
}
.img-mes img{
    width: 100%;
    border-radius: 30px;
}
.conts-mes{
    display: flex;
    justify-content: center;
    line-height: 5px;
    flex-direction: column;
    margin: auto 10px;
    transform: translateY(16px);
}
.mess-prev{
    width: 100%;
    right: 0;
    height: 864px;
    background-color: var(--ligth-color);
}
.prev-content{
    display: flex;
    flex-direction: column;
}
.mes-prev-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px;
    transform: translateY(40px);
}

.mes-titl-left, .mes-titl-left img{
    width: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
#left-title-img-desc{
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-direction: column;
}
#left-title-img-desc p{
    line-height: 2px;
}
#left-title-img-desc a{
    text-decoration: none;
    color: var(--black-color);
}
#hour-left{
    color: var(--dim-black-color);
}
.mes-title-left-ico i{
    color: var(--dim-black-color);
}
.chat-flow{
    display: flex;
    flex-direction: column-reverse;
    transform: translateY(100px);
    /* transform: translateY(00px);
    height: 400px; */
    height: 500px;
    overflow-y: scroll;
}
.speakers{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.speaker1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.sp2-img{
    width: 30px;
    border-radius:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.speaker2{
    display: flex;
    align-items: center;
}
#samptext{
    color: white;
    margin: 10px 20px;
    padding: 5px 10px;
    background-color: rgb(136, 136, 136);
    border-radius: 20px;
} 
#samptext1{
    color: white;
    padding: 5px 10px;
    background-color: blue;
    border-radius: 20px;
}
.sp2-img img{
    width: 30px;
}

.speaker2-info{
    display: none;
}
.chat-inputs{
    width: 100%;
    height:68px;
    transform: translateY(125px);
    display: flex;
    border-top: 0.7px solid rgb(156, 156, 156);
   align-items: center;
   padding: 0px 20px;
}

.bl{
    font-size: 1.5em;
    color: rgb(18, 70, 238);
    cursor: pointer;
}
.input-m{
    width: 930px;
    height: 40px;
    display: flex;
    margin-left: 17px;
    align-items: center;
    background-color: var(--dim-light);
    border-radius: 30px;
}
.input-m input{
    width: 880px;
    margin-left:10px;
    outline: none;
    border: none;
    background: transparent;
    color: var(--black-color);
}
.bxs-smile{
    font-size: 1.5em;
    margin-left: 3px;
}
.fa-thumbs-up{
    font-size: 1.5em;
    transform: translateX(10px);
}
.bxs-send{
  font-size: 1.5em;
}
.send-li button{
    transform: translate(80%, 20%);
    color: rgb(31, 85, 202);
    border: none;
    background: transparent;
}
.imgup{
        width: 150px;
        height: 120px;
        border-radius: 30px;
        border: 1px solid #2648e2;
        background-position: center;
        background-size: cover;
}